extends layout

block content

  div(class='container-fluid')
    div(class='row')
      div(class='col-sm-2 col-md-2 sidebar')
        ul(class='nav nav-sidebar')
          li(class="sidebar-brand")
            //a(href='') Florian Cristol
            h3 Florian Cristol
          li(class='active')
            button(type='button', id='particleLaunch', class='left particleLaunch') Particles
            //a(href='', id='particleLaunch') Particles
          li()
            button(type='button', id='attractionLaunch', class='left attractionLaunch') Attraction
            //a(href='', id='attractionLaunch') Attraction
          li()
            button(type='button', id='conwayLaunch', class='left conwayLaunch') Conway
          li()
            button(type='button', id='squareAlgLaunch', class='left squareAlgLaunch') Terrain
          li()
            button(type='button', id='snakeLaunch', class='left snakeLaunch') Online 2p Snake
          li()
            button(type='button', id='rayLaunch', class='left rayLaunch') Ray Casting
            //a(href='', id='conwayLaunch') Conway   
            //a(href='', id='conwayLaunch') Conway   
      div(class='col-sm-10 col-sm-offset-3 col-md-10 col-md-offset-0 main')
        div(class='row')
          div(class='col-sm-12 col-md-12 drawingPanel', id='drawingPanel')
            div(class='topMenu col-sm-12 col-md-12 col-md-offset-0')
              button(type="button", id="button1", class="btn topButton btnOn") Toggle
              button(type="button", id="button2", class="btn topButton btnOn") Initialise
              button(type="button", id="button3", class="btn topButton btnOn") Step
              button(type="button", id="button4", class="btn topButton btnOn") Clear
            div(class='testest col-sm-12 col-md-12 col-md-offset-0', id='testest')   
              canvas(class='drawingCanvas', id='display')
            
  //script(type='text/javascript', src='/javascripts/conway.js')
  script(type='text/javascript', src='/javascripts/Vector.js')
  script(type='text/javascript', src='/javascripts/planet.js')

  script(type='text/javascript', src='/javascripts/particles.js')
  script(type='text/javascript', src='/javascripts/particlesPlanets.js')
  //script(type='text/javascript', src='/javascripts/buttonController.js')
  script(type='text/javascript', src='/javascripts/map.js')
  script(type='text/javascript', src='/javascripts/gameOfLife.js')
  //script(type='text/javascript', src='/javascripts/gameOfLife2.js')
  
  script(type='text/javascript', src='javascripts/existingCanvas.js')
  //script(type='text/javascript', src='/javascripts/particles3.js')
  script(type='text/javascript', src='/javascripts/threesExperiments.js')
  script(type='text/javascript', src='/javascripts/Tmap.js')
  script(type='text/javascript', src='/javascripts/diamondSquareAlg.js')
  script(type='text/javascript', src='/javascripts/quicktest.js')
  script(type='text/javascript', src='/javascripts/snakeMap.js')
  script(type='text/javascript', src='/javascripts/snakeClient2.js')
  script(type='text/javascript', src='/javascripts/gfxEngine.js')
  script(type='text/javascript', src='/javascripts/tracer.js')
  script(type='text/javascript', src='/javascripts/tracerMap.js')
  script(type='text/javascript', src='/javascripts/player.js')
  script(type='text/javascript', src='/javascripts/movementManager.js')


